.letters {
  margin-top: 100px;
  display: none
}
.letters ul{
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
}

.letters li {
  list-style-type: none;
}