body {background: #FFFFFF !important;}
body,
button,
input,
select,
textarea {color: #404040;}
hr {border: 1px solid #CCCCCC;}
abbr, acronym {border-bottom: 1px dotted #666666;}
mark, ins {background: #FFF9C0;}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {background-color: #FFFFFF;border: 1px solid #000000;}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {border: 1px solid #CCCCCC;border-color: #CCCCCC #CCCCCC #BBBBBB #CCCCCC;background: #E6E6E6;}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {border-color: #CCCCCC #BBBBBB #AAAAAA #BBBBBB;}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {border-color: #AAAAAA #BBBBBB #BBBBBB #BBBBBB;}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {color: #666666;}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {color: #111111;}
.entry-format {color: #FFFFFF;background-color: #FF00C1;}
.entry-format:before {color: #FFFFFF;border-right: 17px solid #FF00C1;}
.entry-format:after {border-left: 17px solid #FF00C1;}
body {background: #E9E7E3;color: #6A524A;}
button,
input,
select,
textarea {background: #FFFFFF;color: #FF5DFF;}
img.alignleft,
.wp-caption.alignleft {border-top: 14px solid #E9E7E3;border-bottom: 14px solid #E9E7E3;}
img.alignright,
.wp-caption.alignright {border-top: 14px solid #E9E7E3;border-bottom: 14px solid #E9E7E3;}
h1 {color: #FF5DFF;}
h2 {color: #FF5DFF;}
h3 {color: #FF5DFF;}
h4 {color: #FF5DFF;}
h5 {color: #FF5DFF;}
h6 {color: #FF5DFF;}
hr {background-color: #FF5DFF;}
blockquote {color: #BC6BE9;border-left: 5px solid #FF00C1;}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {background-color: #FF5DFF;}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {background-color: #FF00C1;color: #FFFFFF;}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {background: #Fff;}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {background: #FFFFFF;border: 1px solid #BC6BE9;}
textarea {background: #F4F3F1;border: 1px solid #E9E7E3;}
textarea:focus {background: #FFFFFF;border: 1px solid #DEDBD5;}
abbr, acronym {border-bottom: 1px dotted #BC6BE9;}
a {color: #FF00C1;}
a:visited {color: #FF00C1;}
a:hover, a:focus, a:active {color: #6A524A;}
.site-header {border-left: 8px solid #FF00C1;}
.site-footer {border-left: 8px solid #FF5DFF;color: #FF5DFF;}
.site-footer a {color: #FF5DFF;}
.lines span.one {background-color: #FF00C1;}
.lines span.two {background-color: #FF5DFF;}
.lines span.three {background-color: #9ECCCC;}
.lines span.four {background-color: #6A524A;}
.lines span.five {background-color: #FF0078;}
.site-content {border-left: 8px solid #FF00C1;}
.site-title a {color: #FF00C1; font-family: 'Lobster Two', cursive;}
.site-description {color: #BC6BE9;}
.toggles .toggle {background-color: #FF00C1;}
.toggles .toggle:before {border-right: 14px solid #FF00C1;}
.toggles .toggle:after {border-left: 14px solid #FF00C1;}
.toggles .toggle.active:before {color: #FFFFFF;}
.toggles .toggle:hover:before {color: #FFFFFF;}
.toggles #menu-toggle {background-color: #FF00C1;}
.toggles #menu-toggle:after {border-left-color: #FF00C1;}
.toggles #menu-toggle:before {border-right-color: #FF00C1;}
.toggles #sidebar-toggle {background-color: #6A524A;}
.toggles #sidebar-toggle:after {border-left-color: #6A524A;}
.toggles #sidebar-toggle:before {border-right-color: #6A524A;}
.toggles #social-links-toggle {background-color: #FF0078;}
.toggles #social-links-toggle:after {border-left-color: #FF0078;}
.toggles #social-links-toggle:before {border-right-color: #FF0078;}
.toggles #search-toggle {background-color: #FF5DFF;}
.toggles #search-toggle:after {border-left-color: #FF5DFF;}
.toggles #search-toggle:before {border-right-color: #FF5DFF;}
.panel {background: #FF00C1;}
.panel .widget-areas .widget-area {color: #FFFFFF;}
.panel .widget-areas .widget-area .widget a {color: #FFFFFF;}
.panel .widget-areas .widget-area .widget .widget-title {color: #FFFFFF;}
.panel .widget-areas .widget-area .widget h1, .panel .widget-areas .widget-area .widget h2, .panel .widget-areas .widget-area .widget h3, .panel .widget-areas .widget-area .widget h4, .panel .widget-areas .widget-area .widget h5, .panel .widget-areas .widget-area .widget h6 {color: #FFFFFF;}
.panel .widget-areas .widget-area .widget .wp-caption,
.panel .widget-areas .widget-area .widget .wp-caption-text {color: #FFFFFF;}
.panel .search-wrapper input[type="submit"] {background: #FF00C1;}
.main-navigation ul ul a:hover {color: #FFFFFF;}
.main-navigation ul ul:before {border-bottom: 14px solid #FF5DFF;}
.main-navigation li li {background: #FF5DFF;}
.main-navigation a:hover {color: #FFFFFF;}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a {color: #FFFFFF;}
.main-navigation a {color: #FFFFFF;}
.hentry.sticky {border-color: #FF5DFF;}
.hentry.sticky .entry-format {background-color: #FF5DFF;}
.hentry.sticky .entry-format:after {border-left-color: #FF5DFF;}
.hentry.sticky .entry-format:before {border-right-color: #FF5DFF;}
.hentry.format-gallery, .hentry.format-aside {border-color: #BC6BE9;}
.hentry.format-gallery .entry-format, .hentry.format-aside .entry-format {background: #BC6BE9;}
.hentry.format-gallery .entry-format:after, .hentry.format-aside .entry-format:after {border-left-color: #BC6BE9;}
.hentry.format-gallery .entry-format:before, .hentry.format-aside .entry-format:before {border-right-color: #BC6BE9;}
.hentry.format-link {border-color: #9ECCCC;}
.hentry.format-link .entry-format {background: #9ECCCC;}
.hentry.format-link .entry-format:after {border-left-color: #9ECCCC;}
.hentry.format-link .entry-format:before {border-right-color: #9ECCCC;}
.hentry.format-video, .hentry.format-audio {border-color: #BC6BE9;}
.hentry.format-video .entry-format, .hentry.format-audio .entry-format {background: #BC6BE9;}
.hentry.format-video .entry-format:after, .hentry.format-audio .entry-format:after {border-left-color: #BC6BE9;}
.hentry.format-video .entry-format:before, .hentry.format-audio .entry-format:before {border-right-color: #BC6BE9;}
.hentry.format-status, .hentry.format-quote {border-color: #FF0078;}
.hentry.format-status .entry-format, .hentry.format-quote .entry-format {background: #FF0078;}
.hentry.format-status .entry-format:after, .hentry.format-quote .entry-format:after {border-left-color: #FF0078;}
.hentry.format-status .entry-format:before, .hentry.format-quote .entry-format:before {border-right-color: #FF0078;}
.hentry.format-image, .hentry.format-gallery {border-color: #6A524A;}
.hentry.format-image .entry-format, .hentry.format-gallery .entry-format {background-color: #6A524A;}
.hentry.format-image .entry-format:after, .hentry.format-gallery .entry-format:after {border-left-color: #6A524A;}
.hentry.format-image .entry-format:before, .hentry.format-gallery .entry-format:before {border-right-color: #6A524A;}
.page-links {color: #BC6BE9;}
.page-links span.active-link {background-color: #FF00C1;color: #FFFFFF;}
.page-links a span.active-link {background-color: #FF5DFF;color: #FFFFFF;}
.page-links a:hover span.active-link {background-color: #FF00C1;}
a.more-link {color: #BC6BE9;}
a.more-link:hover {color: #6A524A;}
.entry-title {color: #FF00C1;}
.entry-title a {color: #FF00C1;}
.entry-meta, .entry-meta a, .pingback .edit-link,
.trackback .edit-link, #cancel-comment-reply-link, .reply {color: #BC6BE9;}
.page-header {border-left: 8px solid #FF5DFF;}
.page-title {color: #FF5DFF;}
.taxonomy-description {color: #BC6BE9;}
.author-archives-img {border-top: 7px solid #E9E7E3;border-bottom: 7px solid #E9E7E3;}
.wp-caption {background: #E9E7E3;}
.wp-caption-text {color: #BC6BE9;}
.post-navigation,
.paging-navigation {background: #FF5DFF;}
.post-navigation a:hover:before,
.paging-navigation a:hover:before {background: #FF00C1;color: #FFFFFF;}
.comment-navigation .nav-previous a {color: #BC6BE9;}
.comment-navigation .nav-next a {color: #BC6BE9;}
.comments-area {border-left: 8px solid #FF5DFF;}
.pingback .edit-link a,
.trackback .edit-link a {color: #BC6BE9;}
.comment-author {color: #FF00C1;}
.comment-author a:hover {color: #FF00C1;}
.comment-author .avatar-wrapper {border-top: 7px solid #E9E7E3;border-bottom: 7px solid #E9E7E3;}
@media screen and (max-width: 48.81em) {
  .comment-author .avatar-wrapper {border: 3px solid #FF5DFF;}
.comment .comment .avatar-wrapper {border: 5px solid #FF5DFF;}
.bypostauthor > .comment-body .comment-author:second-of-type .avatar-wrapper {border-color: #FF00C1;}
.comment-metadata, .comment-metadata a {color: #BC6BE9;}
.comments-title {color: #FF5DFF;}
.required {color: #FF00C1;}
.form-allowed-tags, .form-allowed-tags code {color: #BC6BE9;}
.no-comments {color: #BC6BE9;}
.widget-title {color: #FF5DFF;}
.widget_search input {border-color: #DEDBD5;}
.wp_widget_tag_cloud div a,
.widget_tag_cloud .tagcloud a {color: #FF00C1;}
#infinite-footer .container {color: #BC6BE9;}
#infinite-footer .container a {color: #BC6BE9;}
#infinite-footer .container a:hover {color: #BC6BE9;}
.infinite-loader {border-left: 8px solid #FF00C1;}
@media only screen and (max-width: 48.81em) {
  #infinite-handle {border-left: 8px solid #FF00C1;}
#infinite-handle span {background: #FF5DFF;}
#infinite-handle span:hover, #infinite-handle span:focus {background: #FF00C1;color: #FFFFFF;}
.social-links ul a:hover:before {color: #FFFFFF;}
