$font-family: 'Source Code Pro', monospace;
$padding: 1.25em;

// based on “Ocean Dark” theme
// https://github.com/kkga/spacegray/blob/master/base16-ocean.dark.tmTheme
$color-background: #0E1112;
$color-foreground: #c0c5ce;
$color-highlight: #fff;
$color-key: #bf616a;
$color-value: #b48ead;
$color-string: #a3be8c;
$color-number: #d08770;
$color-boolean: #d08770;
$color-link: #96b5b4;

.json {
  padding: $padding;
  background: $color-background;
  color: $color-foreground;

  *, :focus {
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0;
    font: 400 1em/1.5 $font-family;
  }
}

.json__pair {
  display: block;
}

.json__key {
  margin-right: $padding / 2;
  color: $color-key;

  &:after {
    content: ':';
  }

  .complex-keys &:before {
    content: '"';
  }
  .complex-keys &:after {
    content: '":';
  }
}

.json__key--nested {
  float: left;
  margin-left: -$padding;
  margin-right: 1.5 * $padding;

  @extend .json__key;
}

.json__value {
  background: $color-background;
  color: $color-value;

  &:focus {
    color: $color-highlight;
  }
}

.json__value--string {
  color: $color-string;

  &:before {
    content: '"';
  }
  &:after {
    content: '",';
  }

  @extend .json__value;
}

.json__value--number {
  color: $color-number;

  &:after {
    content: ',';
  }

  @extend .json__value;
}

.json__value--boolean {
  color: $color-boolean;

  &:after {
    content: ',';
  }

  @extend .json__value;
}

.json__value--link {
  color: $color-link;

  &:before {
    content: '"';
  }
  &:after {
    content: '",';
  }

  @extend .json__value;
}

.json__value--last {
  &:after {
    content: '"';
  }
}

.json__object {
  padding-left: $padding;

  &:before, &:after {
    //display: block;
    margin-left: -$padding;
  }
  &:before {
    content: '{';
  }
  &:after {
    content: '},';
  }
}

.json__container {
  padding-left: $padding;

  &:before, &:after {
    //display: block;
    margin-left: -$padding;
  }
  &:before {
    content: '{';
  }
  &:after {
    content: '}';
  }
}

.json__array {
  padding-left: $padding;

  &:before, &:after {
    //display: block;
    margin-left: -$padding;
  }
  &:before {
    content: '[';
  }
  &:after {
    content: '],';
  }

  & > .json__value {
    display: block;
  }
}

html {
  background: $color-background;
  color: $color-foreground;
}

h1 {
  margin: 0.5em 0.5em 1em;
  font-size: 2em;
}
