---
layout: with-sidebar
title: Ana Maria
feature_image: js-thumbnail
desc: "Este es lugar donde comparto todo lo que las demás personas me han enseñado"
include_cta_btn: true
cta_text: About
cta_link: about/
cta_icon: fa-heart
---

<div class="sub-nav">
    <a href="#" class="select-posts active">Posts</a>
    <!-- <a href="#" class="select-categories">Categories</a> -->
</div>

<div class="home-page-posts animated fadeIn ">

  <div class="home-page-posts animated fadeIn ">
    {% for post in paginator.posts %}

    <article class="post">
        <div class="post-preview col-xs-10  no-gutter">
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

            {{ post.excerpt | truncatewords: 28 }}

            <p class="meta">
                <a href="{{ post.author_url | prepend: site.baseurl }}">{{ post.author_name | capitalize}}</a> in <a href='{{ "/category/" | append: post.categories.first | prepend: site.baseurl }}'>{{ post.categories.first | capitalize }}</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> {{ post.read_time }} minutes
            </p>
        </div>


        {% if post.show_avatar == true %}
        <div class=" col-xs-2  no-gutter">
            <img src="{{ site.baseurl}}/img/{{ post.author_avatar }}.jpg" class="user-icon user-1" alt="user-image">
        </div>
        {% endif %}
    </article>
    {% endfor %}

</div><!-- Home page posts -->


  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span class="page-number">&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em class="page-number">{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}" class="page-number">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-number">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-number">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
