<meta property="og:url"                content="http://anamariasosa.com/{{ page.url | prepend: site.baseurl }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description"        content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% endif %}" />
<meta property="og:image"              content="http://anamariasosa.com/img/blog.png" />