<footer id="colophon" class="site-footer" role="contentinfo">
	<div class="site-info">
		<p> Made with <i class="fa fa-heart"></i>
		<span class="sep"> | </span>
			2015 ©	
			</p>
	</div><!-- .site-info -->
</footer>

  <script type='text/javascript' src="/js/jquery.js"></script>
  <script type='text/javascript' src='/js/jquery-migrate-1.2.1.min.js'></script>
<script type='text/javascript' src='../js/menus.js'></script>
<script type='text/javascript' src='../js/skip-link-focus-fix.js'></script>
