<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Front end tutorials and examples">
  <meta name="keywords" content="HTML,CSS,front end,developer tools,JavaScript">
  <meta name="author" content="Ana María Sosa">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@anamariasosam">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{{page.description}}">
  {% if page.image %}
  <meta name="twitter:image" content="http://anamariasosa.com/img/{{page.image}}">
  {% else %}
  <meta name="twitter:image" content="http://anamariasosa.com/img/blog.png">
  {% endif %}
  
  <!-- Facebook Open Graph -->

  <meta property="og:type" content="article" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:url" content="http://anamariasosa.com/{{ page.url | prepend: site.baseurl }}" />
  {% if page.image %}
  <meta property="og:image" content="http://anamariasosa.com/img/{{page.image}}"/>
  {% else %}
  <meta property="og:image" content="http://anamariasosa.com/img/blog.png">
  {% endif %}
  <meta property="og:image:width" content="450"/>
  <meta property="og:image:height" content="298"/>
  
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />




  
  <link rel='stylesheet' id='dashicons-css'  href='{{ "/css/dashicons.min.css" | prepend: site.baseurl }}' type='text/css' media='all' />
  <link rel='stylesheet' id='admin-bar-css'  href='{{ "/css/admin-bar.min.css" | prepend: site.baseurl }}' type='text/css' media='all' />


  <link rel='stylesheet' id='hexa-source-sans-pro-css'  href='http://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic&#038;ver=4.2.4' type='text/css' media='all' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link rel='stylesheet' id='genericons-css'  href='{{"/genericons/genericons.css" | prepend: site.baseurl }}' type='text/css' media='all' />

  
  <link rel="stylesheet" href="{{ "/css/hexa.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/css/blog-style.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/css/homeycombs.css" | prepend: site.baseurl }}" />

  {% include favicons.html %}
 
  {% include analytics.html %}
</head>
