  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@anamariasosam">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}{% endif %}">
  {% if page.tw-image %}
  <meta name="twitter:image" content="http://anamariasosa.com/img/{{page.tw-image}}">
  {% else %}
  <meta name="twitter:image" content="http://anamariasosa.com/img/blog.png">
  {% endif %}
  <meta name="twitter:image:width" content="600">
  <meta name="twitter:image:height" content="330">