extends partials/layout

block title
  title Ana María Sosa

mixin link(name)
  - var url = "https://" + name.toLowerCase() + ".com/anamariasosam"
  a(class="json__value--link" href=url target="_blank")= name


block content
  .json
      fieldset.json__object.json__value--last
          label.json__pair
            span.json__key type
            span.json__value--boolean engineer
          label.json__pair
            span.json__key first_name
            span.json__value--string Ana
          label.json__pair
            span.json__key middle_name
            span.json__value--string María
          label.json__pair
            span.json__key last_name
            span.json__value--string Sosa
          label.json__pair
            span.json__key birth_date
            span.json__value--number 23/02/1996
          label.json__pair
            span.json__key email
            a.json__value--link(href="mailto:anamariasosam@gmail.com" target="_top") anamariasosam@gmail.com
          label.json__pair
            span.json__key location
            span.json__value--string Medellín, Colombia
          fieldset.json__object
            legend.json__key--nested education
            label.json__pair
              span.json__key degree
              span.json__value--string Computer Science
            label.json__pair
              span.json__key university
              span.json__value--string.json__value--last Universidad de Medellín
            label.json__pair
              span.json__key status
              span.json__value--number 6/10
          fieldset.json__object
            legend.json__key--nested job
            label.json__pair
              span.json__key role
              span.json__value--boolean CEO
            label.json__pair
              span.json__key company
              a.json__value--link.json__value--last(href="https://catlog.co" target="_blank") Catlog
            label.json__pair
              span.json__key description
              a.json__value--link.json__value--last(href="https://catlog.co" target="_blank") ecommerce for Instagram's stores
          fieldset.json__object
            legend.json__key--nested programming_languages
            label.json__pair
            label.json__pair
              span.json__key front-end
              span.json__value--string JavaScript
            label.json__pair
              span.json__key back-end
              span.json__value--string.json__value--last Ruby
          fieldset.json__array
            legend.json__key--nested social_networks
            each val in ['Facebook', 'Github', 'Instagram', 'Twitter', 'YouTube']
              +link(val)
          fieldset.json__array
            legend.json__key--nested slides
            a.json__value--link(href="https://docs.google.com/presentation/d/1Ve5u_tNfA1s0k85z48qWHDMSH0LfOqSTSC8yjy7zjsc/edit?usp=sharing" target="_blank") GitHub
            a.json__value--link(href="https://speakerdeck.com/anamariasosam/jekyll" target="_blank") Jekyll
