//- layout.pug
doctype html
html(amp)
  head
    meta(charset='utf-8')
    block title
    link(rel='canonical' href='index.html')
    script(src='https://cdn.ampproject.org/v0.js', async)
    meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')
    include ../includes/favicon.pug
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet")
    meta(name="description" content="Me as a json object, showing my ocupation and my location")
    style(amp-custom).
      .json {
        padding: 1.25em;
        background: #0E1112;
        color: #c0c5ce;
      }
      .json *, .json :focus {
        padding: 0;
        border: 0;
        outline: 0;
        margin: 0;
        font: 400 1em/1.5 "Source Code Pro", monospace;
      }
      .json__pair {
        display: block;
      }
      .json__key, .json__key--nested {
        margin-right: 0.625em;
        color: #bf616a;
      }
      .json__key:before, .json__key--nested:before {
        content: '"';
      }
      .json__key:after, .json__key--nested:after {
        content: '":';
      }
      .complex-keys .json__key:before, .complex-keys .json__key--nested:before {
        content: '"';
      }
      .complex-keys .json__key:after, .complex-keys .json__key--nested:after {
        content: '":';
      }
      .json__key--nested {
        float: left;
        margin-left: -1.25em;
        margin-right: 1.875em;
      }
      .json__value, .json__value--string, .json__value--number, .json__value--boolean, .json__value--link {
        background: #0E1112;
        color: #b48ead;
      }
      .json__value:focus, .json__value--string:focus, .json__value--number:focus, .json__value--boolean:focus, .json__value--link:focus {
        color: #fff;
      }
      .json__value--string {
        color: #a3be8c;
      }
      .json__value--string:before {
        content: '"';
      }
      .json__value--string:after {
        content: '",';
      }
      .json__value--number {
        color: #d08770;
      }
      .json__value--number:after {
        content: ',';
      }
      .json__value--boolean {
        color: #d08770;
      }
      .json__value--boolean:after {
        content: ',';
      }
      .json__value--link {
        color: #96b5b4;
        text-decoration: none;
      }
      .json__value--link:before {
        content: '"';
      }
      .json__value--link:after {
        content: '",';
      }
      .json__value--link:hover {
        text-decoration: none;
      }
      .json__value--last:after {
        content: '"';
      }
      .json__object {
        padding-left: 1.25em;
      }
      .json__object:before, .json__object:after {
        margin-left: -1.25em;
      }
      .json__object:before {
        content: '{';
      }
      .json__object:after {
        content: '},';
      }
      .json__container {
        padding-left: 1.25em;
      }
      .json__container:before, .json__container:after {
        margin-left: -1.25em;
      }
      .json__container:before {
        content: '{';
      }
      .json__container:after {
        content: '}';
      }
      .json__array {
        padding-left: 1.25em;
      }
      .json__array:before, .json__array:after {
        margin-left: -1.25em;
      }
      .json__array:before {
        content: '[';
      }
      .json__array:after {
        content: '],';
      }
      .json__array > .json__value, .json__array > .json__value--string, .json__array > .json__value--number, .json__array > .json__value--boolean, .json__array > .json__value--link {
        display: block;
      }
      html {
        background: #0E1112;
        color: #c0c5ce;
      }
      h1 {
        margin: 0.5em 0.5em 1em;
        font-size: 2em;
      }
    style(amp-boilerplate).
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate).
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
  body
    block content
