---
layout: default
---

<div id="content">
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			<article class="post-83 post type-post status-publish format-standard hentry category-sin-categoria">
				<span class="entry-format"></span>
				<header class="entry-header">
					<h1 class="entry-title">{{ page.title }}</h1>	
				</header><!-- .entry-header -->

				<div class="entry-content">
					<p>{{ content }}</p>
				</div><!-- .entry-content -->
					
			</article>
			
			<!-- #post-## -->	
		</main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->
