---
layout: default
---

<div id="content" class="">
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			<article id="post-83" class="post-83 post type-post status-publish format-standard hentry category-sin-categoria">
				<span class="entry-format"></span>
				<header class="entry-header">
					<h1 class="entry-title">{{ page.title }}</h1>	
				</header><!-- .entry-header -->

				<div class="entry-content">
					<p>{{ content }}</p>
				</div><!-- .entry-content -->
					
				<footer class="entry-meta">
					<span class="post-date">
						<time class="entry-date" datetime="2015-08-15T18:57:11+00:00">{{ page.date | date: "%b %-d, %Y" }}</time>

					</span>

					<span class="byline">
						<span class="author vcard">
							<p class="url fn n" rel="author">{{ page.author }}</p>
						</span>
					</span>		
				</footer><!-- .entry-meta -->

				{% include disqus.html disqus_identifier=page.disqus_identifier %}
			</article>
			
			<!-- #post-## -->	
		</main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->
