---
layout: default
---
<div id="content">
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			<article class="post type-post status-publish format-{{page.type}} hentry">
				<span class="entry-format"></span>
				<header class="entry-header">
					<h1 class="entry-title">{{ page.title }}</h1>	
				</header><!-- .entry-header -->
				
				{% if page.image %}
				<figure class="post-image">
					<img src="/img/{{page.image}}" alt="{{ include.title }} anamariasosam anamariasosa "/>
				</figure>
				{% endif %}
				<div class="entry-content">
					
					<p>{{ content }}</p>
				</div><!-- .entry-content -->
				

				<footer class="entry-meta">
					<span class="post-date">
						<time class="entry-date" datetime="2015-08-15T18:57:11+00:00">{{ page.date | date: "%b %-d, %Y" }}</time>

					</span>
					<div class="share-page">
					    <p>¿Te gustó? ¡Compártelo!  </p>
					    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
					    <span class="sep"> | </span>
					    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
					    <span class="sep"> | </span>
					    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>

					    <a class="twitter" href="https://twitter.com/intent/tweet?url=https://stepic.org/city" target="_blank">here</a>
					</div>
				</footer><!-- .entry-meta -->

				{% include disqus.html disqus_identifier=page.disqus_identifier %}
			</article>
			
			<!-- #post-## -->	
		</main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->
